%h2= t('user.profile.title', email: @user.email)
%p= edit_profile_link(@user)
.avatar
  = avatar(@user)

%p= new_album_link(@user)

%ul
  - @user.albums.each do |album|
    %li= link_to album.name, album