%h2= t('user.profile.title', email: @user.email)
%p= edit_profile_link(@user)
.avatar
  = avatar(@user)

%p= new_album_link(@user)

- @user.albums.each do |album|
  = div_for(album) do
    = link_to album.name, album
    = image_tag album.thumb_url
